html{
	font-family: Arial, serif;
}

*{
	margin:0;
	padding:0;
}


header{
	float:top;
	width:100%;
	height:60px;
	background-color:#0A0A0A;
}

.boutons{
	float:left;
	width:100%;
	height:80px;
	background-color:#0A0A0A;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.menu{
	float:right;
	width:30%;
	background-color:#ffffff;
	text-align:center;
	color:##0A0A0A;
}


section{
	font-size:x-large;
	float:left;
	width:100%;
	height:1000px;
	background-color:#ffffff;
	text-align:center;
}

.section2{
	font-size:x-large;
	float:left;
	width:100%;
	height:900px;
	background-color:#ffffff;
	text-align:center;
}

.section3{
	font-size:x-large;
	float:left;
	width:100%;
	height:1100px;
	background-color:#ffffff;
	text-align:center;
}

.section4{
	font-size:x-large;
	float:left;
	width:100%;
	height:3300px;
	background-color:#ffffff;
	text-align:center;
}

.numerique_partie1{
	width:60%;
	float:left;
	font-size:95%;
	padding:20px;
}

	

.titre_def{
	font-size:200%;
	text-align:left;
	margin:20px;
}

.dessin_footer{
	float:left;
	width:60%;
	height:500px;
	background-color:#0A0A0A;
	text-align:center;
}



footer{
	float:left;
	width:100%;
	height:100px;
	background-color:#0A0A0A;
	text-align:center
}

nav{
	text-align:center;
	font-size:500%;
	float:left;
	float:bottom;
	width:100%;
	height:600px;
	background-color:#0A0A0A;
	color:#ffffff;
}

.menu{
	padding:2%;
}

.marge_projet{
	float:left;
	width:20%;
	height:500px;
	background-color:#0A0A0A;
}

.marge_projet2{
	float:left;
	width:20%;
	height:700px;
	background-color:#0A0A0A;
}

.projets{
	float:left;
	width:60%;
	height:700px;
	background-color:#0A0A0A;
	text-align:center;
	align-items:center;
}

.projets2{
	float:left;
	width:60%;
	height:500px;
	background-color:#0A0A0A;
	text-align:justify;
}

.projets3{
	float:left;
	width:60%;
	height:300px;
	background-color:#0A0A0A;
	text-align:justify;
}

.marge_projet3{
	float:left;
	width:20%;
	height:300px;
	background-color:#0A0A0A;
}




.titre_projets{
	color:#ffffff;
	text-align:center;
	font-size:350%;
	font-family:"roboto mono";
	font-size:350%;
}


.titre{
	text-align:center;
	font-size:350%;
	vertical-align:middle;
	font-family:"roboto mono";
}

.titre_menu{
	text-align:center;
	font-size:200%;
	font-weight: bold;
	vertical-align:middle;
	font-family:"roboto mono";
}

.titre_projet{
	text-align:center;
	font-size:250%;
	font-weight:bold;
	font-family:"roboto mono";
	color:#ffffff;
}

.paragraphe{
	font-size:150%;
	text-align:justify;
	font-family:"Open Sans";
}

.paragraphe_menu{
	font-size:125%;
	text-align:justify;
	font-family:"Open Sans";
}

.paragraphe_projets{
	font-size:150%;
	font-family:"Open Sans";
	color:#ffffff;
}

.m-paragraphe{
	margin:20px;
	text-align:left;
	font-size:110%;
}

.paragraphe_footer{
	color:#ffffff;
	font-family:"Open Sans";
}

.bouton_dessin{
	margin:0 auto;
}


.lien1 {
	background-color:#0A0A0A;
	height:80px;
	width:33.33%;
	font-size:110%;
	float:left;
	left:0px;
	bottom:0px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	transition: .5s all;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
}

.lien2{
	text-decoration:none;
	color:#595959;
	font-weight:bold;
	transition: .5 all;
	
}

.lien2:hover{
	text-decoration:none;
	color:white;
}

.lien3{
	font-size:150%;
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
	transition: .5 all;	
}

.lien3:hover {
	text-decoration: none;
	color:#595959;
}


.lien1:visited {
	text-decoration: none;
	text-align: center;	
	color:#ffffff;
}

.lien1:hover {
	text-decoration: none;
	color:red; /*ce truc marche !*/
}